<div class="jumbotron">
  <h1 class="text-right text-white font-italic display-4 lead"> NUTRITIONIST </h1>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 font-weight-bold text-justify text-white"> 
    <p>Nutritionist is an all-around health blog. Through our high-quality, content-rich website, we publish delicious recipes and authoritative, science-based journalism that inspires our readers to celebrate the joys of food and make better-informed food and lifestyle choices.</p>
    <p>Our mission is to help make healthy happen every day. We provide the inspiration and information people need to make healthy eating a way of life. We offer delicious recipes, balanced nutritional advice, thought-provoking stories and new ways to make healthy choices more exciting. We are about moderation and balance—not strict exercises or fad diets—because for healthy eating to become a way of life, it should be accessible, sustainable, inspiring and—above all—delicious.</p>
    <p>Register, and you can write articles yourself. Try it out!</p>
  </div>
</div>